<a href="https://colab.research.google.com/github/LoreVelez/M.Digitales/blob/main/Clase1Git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=5
print(x)

5
3

**Introducción**
---
Para manejar un código limpio en python podemos seguir las siguientes recomendaciones:
1. Manejar siempre minúscula.
2. Se puede agregar números a las variables
3. Aparecerá error si la declaración de la variable y el número no están seguidos.
4. Para concatenar es con , o +
Con + todo debe estar en formato str
Con , separa los valores y ejecuta

En python hay varios tipos de datos compuestos y están disponibles por defecto en los intérpretes.
**¿De qué tipos?**
1. Numéricos
2. Secuenciales
3. Mapeos
4. Conjuntos usados para agrupar otros valores

**Diferencia entre constantes y variables**

**Constante:**
En matemáticas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo1: Contabilidad - Gastos fijos
Ejemplo2: Números - 6

**Variable**
Cantidad que es suceptible a tomar distintos valores numéricos.

x=5
print(x)

**Tipos de datos**

**Enteros**
Números que no tienen decimales
Positivos y negativos

a=int(3.444)
print(a)

In [ ]:
a=int(3.444)
print(a)

**Tipo cadena**
Cadenas de texto encerrados entre comillas simples o dobles y se pueden conformar de diferentes caracteres numéricos, alfanuméricos o especiales. **Tener en cuenta** las cadenas admiten operadores como la suma y la resta

In [ ]:
val1="Luisa"
print(val1)
val2="Hola mundo"
print(val2)

Luisa
Hola mundo

In [ ]:
q="5"
p="2"
print(int(q)-int(p))

3

**Tipo bboleano**
Solo tiene valores verdadero o falso

In [ ]:
lola=True
print("El valor es verdadero:",lola,", el cual es de tipo ",type(lola))

El valor es verdadero: True , el cual es de tipo  <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. Tuplas
3. Diccionarios

**Tipos de conjuntos**
---
Son una colección de datos sin elementos que repiten:

In [ ]:
fru='pera','manzana','naranja'
print(fru)

('pera', 'manzana', 'naranja')

**Tipo listas**
---
Son listas las que almacenan vectores

`fe=ines[0:3]`

El primer número es la posición, el segundo es la cantidad de elementos que me trae

In [ ]:
ines=['5','uva','lila','perro']
print(ines)
fe=ines[0:3]
print(fe)

['5', 'uva', 'lila', 'perro']
['5', 'uva', 'lila']

**Tipo tuplas**
---
Es como una lista pero no se deja modificar después de su creación

In [ ]:
tupla=23,28,'helo'
print(tupla)

(23, 28, 'helo')

**Diccionarios**
---
Define los datos 1 a 1 entre un campo y un valor:

In [ ]:
datos_b={
    "nombre":"Diana",
    "apellido":"Perea",
    "cedula":"123456789",
    "est_civil":"Soltera",
    "lugar_nacimiento":"Quindio",
    "fecha_nacimiento":"07-02-1993"
}
print(datos_b.keys())
print(datos_b.values())
print(datos_b)
print(datos_b["nombre"])

dict_keys(['nombre', 'apellido', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
dict_values(['Diana', 'Perea', '123456789', 'Soltera', 'Quindio', '07-02-1993'])
{'nombre': 'Diana', 'apellido': 'Perea', 'cedula': '123456789', 'est_civil': 'Soltera', 'lugar_nacimiento': 'Quindio', 'fecha_nacimiento': '07-02-1993'}
Diana

**Ejemplo práctico (Características de los carros)**

In [ ]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='blanco'
carros_0['marca']='mazda'
carros_0['precio']=150000000

carros_1={}
carros_1['tam']='pequeño'
carros_1['color']='gris'
carros_1['marca']='renault'
carros_1['precio']=25000000

print(carros_0)
print(carros_1)

total=carros_0['precio']+carros_1['precio']
print(total)

print(carros_0['precio']+carros_1['precio'])

{'tam': 'grande', 'color': 'blanco', 'marca': 'mazda', 'precio': 150000000}
{'tam': 'pequeño', 'color': 'gris', 'marca': 'renault', 'precio': 25000000}
175000000
175000000